.App {
  
 
  
  background-color: rgb(234, 252, 253);
  
  box-sizing: border-box;
  border:50px solid rgb(123, 211, 211);
  
}





.App-header {
  
  min-height: 40vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 4, 4);
  background-image: url("bg-header.jpg");
  image-resolution: 760px;
  background-position: center;
  background-size: cover;
 

}
.App-body{
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 4, 4);
}




